<!DOCTYPE html>
<html>
<head>
    <title>Recruiter Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <div class="nav-left">
        <a href="/">Back</a>
    </div>
    <div class="nav-right">
        <a href="/">Home</a>
    </div>
</nav>

<div class="card">
    <h2>Recruiter Login</h2>

    <form method="post" class="login-form">
         <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>
    </form>
</div>

</body>
</html>
